@charset "utf-8";

/*가이드*/
[class*=gd__h]{color:#999;margin-bottom:1em;font-weight:bold;line-height:1.3;}
[class*=gd__h]:first-child{margin-top:0 !important;}
[class*=gd__h] + [class*=gd__h]{margin-top:1em !important;}
[class*=gd__h]:before{content:'#';}
[class*=gd__h]:after{content:'';display:block;height:0.4em;background:#eee;margin-top:-0.4em;z-index:-1;}
.gd__h0{text-align:center;font-size:3rem;color:#000;}
.gd__h1{font-size:2.4rem;color:#d00;margin-top:4em;}
.gd__h1:after{background-color:rgba(221,0,0,0.1);}
.gd__h2{font-size:2rem;color:#157941;margin-top:3em;}
.gd__h2:after{background-color:rgba(21,121,65,0.1);}
.gd__h3{font-size:1.8rem;color:#111;margin-top:2em;}
.gd__h3:after{background-color:rgba(21,21,21,0.1);}
.gd__h4{margin-top:2em;}
.gd__wrap{overflow:hidden;}
.gd__box{margin:20px auto;display:flex;width:150px;height:150px;background:#eee;align-items:center;justify-content:center;-webkit-transition:background 1s 0.5s;transition:background 1s 0.5s;}
.gd__box.on{background:#d00;color:#fff;}

/*form*/
.require{display:inline-block;line-height:1;}
.require:after{content:'*';color:#ff6612;}
.help_txt,
.error_txt{position:relative;display:block;margin-top:10px;font-size:1.3rem;}
.help_txt{padding-left:10px;color:#8997af;}
.help_txt:before{content:'';position:absolute;top:9px;left:0;width:3px;height:3px;background-color:#8997af;border-radius:100%}
.help_txt+.help_txt{margin-top:15px;}
.error_txt{display:none;padding-left:20px;color:#fd775c;background:url(../images/common/ico_error_txt.png) no-repeat left 3px;background-size:14px auto;}
.error_txt.checked{color:#3182f7;background-image:url(../images/common/ico_error_txt_on.png);}
.caution_info{font-size:1.2rem;color:#858585;}
.caution_info:before{content:'*';display:inline-block;padding-right:3px;}

.form_item{position:relative;margin-top:22px;}
.tit_h2+.form_item{margin-top:25px;}
.section>.form_item:first-child{margin-top:0;}
.form_item .fm_lb{display:block;font-size:1.5rem;cursor:default;color:#111;}
.form_item .fm_lb>.tooltip_wrap{vertical-align:1px;}
.form_item .fm_lb>.tooltip_btn{vertical-align:-3px;}
.form_item .fm_lb + .fm_val,
.form_item .fm_lb + .fm_cont{margin-top:7px;}
.form_item .fm_val{display:block;height:44px;line-height:42px;font-size:1.4rem;color:#111;border:1px solid #ddd;border-radius:4px;padding:0 11px;}
.form_item .fm_cont{position:relative;}
.form_item .fm_cont>.btn_toggle:first-child{margin-top:10px;}
.form_item .fm_cont>.btn_toggle:last-child{margin-bottom:-1px;z-index:1;}
.form_item .tbl{table-layout:fixed;}
.form_item .td{position:relative;}
.form_item .td+.td{padding-left:9px;}
.form_item .td.time{width:50px;font-size:1.5rem;font-weight:500;color:#111;text-align:right}
.form_item .td.dash{width:18px;padding-left:0;text-align:center;color:#858585;white-space:nowrap;}
.form_item .td.dash.ty2{width:26px;}
.form_item .td.dash+.td{padding-left:0;}
.form_item .td.sp{width:9px;}
.form_item .td.sp+.td{padding-left:0;}
.form_item .td.ut{padding-left:5px;text-align:right;white-space:nowrap;width:20px;color:#111;}
.form_item .td.ut.ty2{width:35px;}
.form_item .td.swt{text-align:right;width:70px;vertical-align:middle;}
.form_item .td.email_inp .input input{padding-right:60px;}
.form_item .td.email_inp .inp_del{right:20px;}
.form_item .td.email_inp .btn_sel{display:block;position:absolute;right:0;top:0;width:23px;height:100%;font-size:3px;color:transparent;background:url(../images/common/select_arrow.png) 100% 50% no-repeat;background-size:12px auto;overflow:hidden;}
.form_item .unit{display:block;position:absolute;right:10px;top:0;color:#111;line-height:44px;font-size:1.4rem;}
.form_item .unit:first-child{left:10px;right:auto;}

/*약관*/
.chk_item{border:1px solid #dddddd;border-radius:4px;-webkit-transition:border 0.3s;transition:border 0.3s;}
.chk_item.checked{border-color:#3182f7;}
.chk_item>.checkbox,
.chk_item>.radio{display:block;}
.chk_item>.checkbox>input,
.chk_item>.checkbox>i,
.chk_item>.radio>input,
.chk_item>.radio>i{left:19px;top:14px;}
.chk_item>.checkbox>i+.lbl,
.chk_item>.radio>i+.lbl{padding:14px 20px 14px 49px;margin-left:0;}
.chk_item>.radio .lbl_child,
.chk_item>.checkbox .lbl_child{padding:14px 0;margin:0 19px;border-top:1px solid #eaeaea;line-height:1.5;font-size:1.2rem;color:#333;}
.chk_item>.radio>i+.lbl .lbl_child,
.chk_item>.checkbox>i+.lbl .lbl_child{margin:13px 0 0 -30px;padding-bottom:0;}
/* .chk_item.ty2 .checkbox>.lbl{font-size:1.6rem;font-weight:500;color:#333;}
.chk_item.ty2 .checkbox>.lbl>.lbl_child{font-weight:400;}
.chk_item.ty2>.checkbox .lbl_child{font-size:1.4rem;word-wrap:break-word;word-break:break-all;} */
.chk_item+.chk_item{margin-top:10px;}

.chk_list .chk_item{border-radius:0;}
.chk_list .chk_item:first-child{border-top-right-radius:4px;border-top-left-radius:4px;}
.chk_list .chk_item:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.chk_list .chk_item+.chk_item{margin-top:0;border-top:0 none;}
.chk_list .chk_item .checkbox{padding-right:50px;}
.chk_list .chk_item .checkbox>.chk_link{display:block;position:absolute;top:0;right:0;width:45px;height:100%;overflow:hidden;z-index:2;}
.chk_list .chk_item .checkbox>.chk_link:after{content:'';display:block;width:5px;height:100%;position:absolute;right:15px;top:0;background:url(../images/common/ico_agree_arr.png) no-repeat right center;background-size:contain;}
.chk_list .chk_item .checkbox>.chk_link.toggle:after{width:12px;background-image:url(../images/common/ico_toggle.png);-webkit-transform:rotate3d(1,0,0,0deg);transform:rotate3d(1,0,0,0deg);-webkit-transition:0.3s;transition:0.3s;}
.chk_list .chk_item .checkbox>.chk_link.toggle.open:after{-webkit-transform:rotate3d(1,0,0,180deg);transform:rotate3d(1,0,0,180deg);}
.chk_list .chk_item>.checkbox>.lbl,
.chk_list .chk_item>.radio>.lbl{color:#111;font-weight:500;}
.chk_list .chk_child{padding:20px 15px;border-top:1px solid #ddd;}
.chk_list .chk_child>.checkbox{padding-right:30px;}
.chk_list .chk_child>.checkbox+.checkbox{margin-top:13px;}
.chk_list .chk_child>.checkbox>.lbl{font-size:1.4rem;color:#666;}
.chk_list .chk_child>.checkbox>i{border-color:transparent !important;background:none !important;}
.chk_list .chk_child>.checkbox>input:checked+i:after{border-color:#3182f7;}
.chk_list .chk_child>.checkbox>.chk_link{right:-15px;}
.chk_list .chk_child_tit{color:#111;font-size:1.5rem;margin:20px 0;}
.chk_list .chk_child_tit:first-child{margin-top:0;}


/*검색*/
.search_wrap{position:relative;}
.search_wrap .search_cont{display:none;position:absolute;top:100%;left:0;right:0;padding:9px 0 5px;border:1px solid #ddd;border-top-width:0;background:#fff;box-shadow:0 3px 3px rgba(0,0,0,0.05);background:#fff;z-index:1;border-radius:4px;}
.search_wrap .search_cont.full{left:-20px;right:-20px;border-width:0 0 1px;padding:0;border-radius:0;}
.search_wrap .search_cont.on{display:block;}
.search_wrap .search_cont .list>li{position:relative;}
.search_wrap .search_cont .list.off{display:none;}
.search_wrap .search_cont .list.off+.list{margin-top:0px;}
.search_wrap .search_cont .list.off+.list>li:first-child{padding-top:0px;}
.search_wrap .search_cont .list .link{display:block;color:#535353;padding:9px 20px;font-size:1.5rem;word-break:break-all;}
.search_wrap .search_cont.recent .list .link{padding-right:10px;margin-right:45px;}
.search_wrap .search_cont.recent .list div.link{text-align:center;padding:30px 20px;margin-right:0;background:#f5f5f5;}
.search_wrap .search_cont .etc{overflow:hidden;padding:10px 20px;border-top:1px solid #ddd;}
.search_wrap .search_cont .etc a{font-size:1.2rem;color:#111;}
.search_wrap .search_cont .etc a+a{margin-left:15px;}
.search_wrap .search_cont .link_del{position:absolute;top:50%;right:20px;display:block;width:24px;height:24px;margin-top:-12px;font-size:3px;color:transparent;overflow:hidden;background:url(../images/common/inp_del.png) no-repeat center center;background-size:contain;}
.search_box .input.add_btn input{padding-right:60px;}
.search_box .input.add_btn .inp_del{right:36px;}
.search_box .btn_search{position:absolute;right:0;top:0;display:block;width:38px;height:44px;}
.search_box .btn_search:before{content:'';display:block;position:absolute;top:0;left:50%;width:16px;height:100%;margin-left:-8px;background:url(../images/common/btn_search.png) no-repeat 50% 50%;background-size:contain}
.search_box.full{border:1px solid #ddd;border-width:1px 0;margin:0 -20px;padding:0px 20px;}
.search_box.full.focus{border-color:#3182f7;}
.search_box.full>div{position:relative;padding-right:30px;}
.search_box.full .td+.td{padding-left:15px;}
.search_box.full .input input{border-width:0;padding:0 28px 0 0;}
.search_box.full .input .inp_del{right:0;}
.search_box.full .select:after{display:none;}
.search_box.full .select select,
.search_box.full .select .btn_select{border-width:0;}
.search_box.full .btn_search{right:-11px;}



/*파일첨부*/
.inp_file{position:relative;}
.inp_file input[type=file]{position:absolute;width:1px;height:1px;margin:-1px;border:0;overflow:hidden;padding:0;clip:rect(0,0,0,0);-webkit-appearance:none}
.inp_file label{display:block;position:relative;padding:9px 10px;font-size:1.5rem;line-height:26px;text-align:center;background-color:#eee;border-radius:4px}
.inp_file .bt_ic_add{vertical-align:-3px;margin-right:10px;}
.inp_file.img label{padding:0;height:150px;overflow:hidden;}
.inp_file.img label span{position:absolute;left:0;top:50%;width:100%;text-align:center;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.inp_file.img label img{max-width:100%;width:auto;max-height:100%;height:auto;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.ie9 .img.inp_file label img{width:100%;height:100%;}
.file_item{position:relative;margin-top:6px;border:1px solid #ddd;border-radius:4px;padding:10px 45px 10px 20px;font-size:1.5rem;word-break:break-all;}
.file_item strong,
.file_item .strong{display:block;color:#111;font-weight:500;}
.file_item .item_del{position:absolute;top:50%;right:4px;padding:0;width:40px;height:40px;margin-top:-20px;background:url(../images/common/inp_del.png) no-repeat 50% 50%;background-size:20px 20px}

/**/
.sel_item_wrap{margin-top:15px;font-size:0;}
.sel_item{position:relative;display:inline-block;margin:3px 6px 3px 0;border:1px solid #d4d4d4;padding:6px 35px 6px 10px;border-radius:20px;vertical-align:top;font-size:1.3rem;}
.sel_item .del{position:absolute;top:50%;right:5px;display:inline-block;width:20px;height:20px;margin-top:-10px;vertical-align:middle;background:url(../images/common/inp_del.png);font-size:3px;color:transparent;background-size:contain;}

/*※ 불릿*/
.caution_txt{display:inline-block;font-size:1.3rem;color:#666;line-height:21px;word-wrap:normal;word-break:break-all;}
.caution_txt:before{content:'※';display:inline-block;padding-right:3px;color:#666;}
.caution_txt2{position:relative;display:block;padding-left:12px;color:#8997af;font-size:1.2rem;word-wrap:normal;word-break:break-all;}
.caution_txt2:before{content:'※';position:absolute;top:0;left:0;display:inline-block;padding-right:3px;color:#666;}

/*리스트*/
.line_list_1{border-top:1px solid #bbb;}
.line_list_1>ul>li{position:relative;border-bottom:1px solid #ddd;}
.line_list_1>ul>li>.checkbox{position:absolute;left:1px;top:50%;margin-top:-11px;}
.line_list_1>ul>li>.checkbox+.inner{padding-left:34px;}
.line_list_1 .inner{display:block;padding:21px 15px;}
.card_info_tbl{display:table;width:100%;}
.card_info_tbl>div{display:table-cell;vertical-align:middle;}
.card_info_tbl>.img{width:76px;}
.card_info_tbl>.img img{max-width:100%;}
.card_info_tbl>.img+div{padding-left:24px;}
.card_info_tbl .tit{color:#111;}
.card_info_tbl .num{color:#111;font-size:1.3rem;}
.card_info_tbl .tit+.num{margin-top:4px;}
.card_info_tbl .sub{font-size:1.2rem;color:#666;}
.card_info_tbl .sub ul strong{font-weight:400;margin-right:8px;}
.card_info_tbl .tit+.sub{margin-top:2px;}
.card_info_tbl .num+.sub{margin-top:6px;}

.line_list_2{border-top:1px solid #bbb;}
.section .line_list_2{margin:0 -20px;}
.line_list_2.first{margin-top:-30px;border-top-width:0;}
.line_list_2>ul>li{border-bottom:1px solid #ddd;}
.line_list_2 .inner{position:relative;display:block;padding:22px 20px;}
.line_list_2 a.inner{padding-right:33px;}
.line_list_2 a.inner:before{content:'';display:block;position:absolute;top:50%;right:20px;width:10px;height:10px;margin:-6px 3px 0 0;border:1px solid #333;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:0.3s;transition:0.3s;}
.line_list_2 .tit{display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;font-size:1.5rem;color:#333;-webkit-line-clamp:2;}
.line_list_2 .date{font-size:1.3rem;color:#858585;margin-top:6px;}
.line_list_2 .bg_noti{background:#eaf2fe;}
.line_list_2 .txt_noti{color:#3182f7;font-weight:400;margin-right:0.3em;}
.line_list_2 .ico_new{vertical-align:-3px;margin-left:0.3em;}

.list_util{position:relative;}
.list_util:after{content:'';display:block;clear:both;}
[class*=box_list_] .list_util{margin-bottom:15px;}

.box_list_1>ul>li{position:relative;border:1px solid #ddd;border-radius:4px;-webkit-transition:border 0.3s;transition:border 0.3s;}
.box_list_1>ul>li.checked{border-color:#3182f7;}
.box_list_1>ul>li+li{margin-top:10px;}
.box_list_1 .inner{position:relative;display:block;padding:20px;}
.box_list_1 .inner+.inner{padding-top:0;margin-top:-10px;}
.box_list_1>ul>li>.checkbox{position:absolute;left:18px;top:28px;z-index:1;}
.box_list_1>ul>li>.checkbox+.inner{padding-left:46px;}
.box_list_1 .card_info_tbl>div{vertical-align:top;}
.box_list_1 .card_info_tbl>.img{width:70px;}
.box_list_1 .card_info_tbl+.price{margin-top:10px;}
.box_list_1 .price{text-align:right;color:#3182f7;padding:0 15px;}
.box_list_1 .price a{position:relative;display:inline-block;padding-right:15px;}
.box_list_1 .price a:after{content:'';display:block;width:7px;height:7px;position:absolute;right:4px;top:50%;margin-top:-3px;border:1px solid #3182f7;border-width:0 1px 1px 0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.box_list_1 .price strong{font-size:20px;}
.box_list_1 .expend_wrap{margin-top:15px;}
.box_list_1 .expend_wrap>.expend_cont{display:none;}
.box_list_1 .expend_wrap ul{padding:11px 0;border-top:1px dashed #ddd;}
.box_list_1 .expend_wrap ul li{display:table;width:100%;font-size:1.2rem;padding:2px 0;color:#666;}
.box_list_1 .expend_wrap ul li>div{display:table-cell;}
.box_list_1 .expend_wrap ul li .td{text-align:right;padding-left:10px;}
.box_list_1 .expend_wrap ul li.strong{font-weight:500;color:#111;}
.box_list_1 .expend_btn{padding:0 3px;text-align:center;}
.box_list_1 .expend_btn .button{width:77px;}
.box_list_1 .expend_btn .bt_ic_arr_down{-webkit-transform:rotate3d(1,0,0,0deg);transform:rotate3d(1,0,0,0deg);-webkit-transition:0.3s;transition:0.3s;}
.box_list_1 li.open .expend_btn .bt_ic_arr_down{-webkit-transform:rotate3d(1,0,0,180deg);transform:rotate3d(1,0,0,180deg);}
.box_list_1 .expend_wrap.on>.expend_btn{display:none;}
.box_list_1 .expend_wrap.on>.expend_cont{display:block;}

.box_list_2>ul>li{position:relative;border:1px solid #ddd;border-radius:4px;-webkit-transition:border 0.3s;transition:border 0.3s;}
.box_list_2>ul>li.checked{border-color:#3182f7;}
.box_list_2>ul>li+li{margin-top:10px;}
.box_list_2>ul>li>.checkbox{position:absolute;left:18px;top:22px;z-index:1;}
.box_list_2>ul>li>.checkbox+.inner .list_tit{padding-left:21px;}
.box_list_2 .inner{position:relative;display:block;padding:20px 22px;}
.box_list_2 .list_tit{font-size:1.8rem;color:#111;}
.box_list_2 .list_sub{font-size:1.3rem;color:#666;}
.box_list_2 .list_tit+.list_sub{margin-top:7px;}
.box_list_2 .list_sub+.list_data{margin-top:9px;}
.box_list_2 .list_data li{display:table;width:100%;padding:1px 0;color:#666;}
.box_list_2 .list_data li>div{display:table-cell;}
.box_list_2 .list_data li .td{text-align:right;padding-left:10px;}
.box_list_2 .list_data li.last{font-weight:500;color:#111;margin-top:9px;border-top:1px dashed #ddd;}
.box_list_2 .list_data li.last>div{padding-top:9px;}

/*가입완료*/
.finish_wrap{text-align:center;}
.finish_wrap .inner{padding:0 20px;}
.finish_wrap .tit{font-size:2.2rem;margin-top:10px;}
.finish_wrap .txt{margin:1.5rem 0 2.3rem;min-height:6em;}
.finish_wrap .box{padding:12px;background:#fff;border-radius:4px;color:#8997af;text-align:left;}
.finish_effect{position:relative;max-width:640px;margin:0 auto;overflow:hidden;text-align:center;}
.finish_effect img{position:relative;max-width:100%;z-index:1;}
.finish_effect .item{display:block;width:8px;height:8px;position:absolute;top:-20%;left:50%;margin-left:-4px;opacity:0;box-sizing:border-box;}
.finish_effect.type1 .item span,
.finish_effect.type1 .item span:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
.finish_effect.type1 .color1 span:before{background:#b82525;}
.finish_effect.type1 .color2 span:before{background:#a12460;}
.finish_effect.type1 .color3 span:before{background:#f399c5;}
.finish_effect.type1 .color4 span:before{background:#3081c2;}
.finish_effect.type1 .color5 span:before{background:#d2f583;}
.finish_effect.type1 .color6 span:before{background:#e2c220;}
.finish_effect.type1 .size1,
.finish_effect.type1 .size2{z-index:2;}
.finish_effect.type1 .size3{filter:blur(1px);}
.finish_effect.type1 .size2 span{-webkit-transform:scale(0.7);transform:scale(0.7);}
.finish_effect.type1 .size3 span{-webkit-transform:scale(0.4);transform:scale(0.4);}
.finish_effect.type1 .item1 span:before{-webkit-transform:skewX(-15deg);transform:skewX(-15deg);}
.finish_effect.type1 .item2 span:before{-webkit-transform:skewX(25deg);transform:skewX(25deg);}
.finish_effect.type1 .item3 span:before{-webkit-transform:skewX(-35deg);transform:skewX(-35deg);}
.finish_effect.type1 .item4 span:before{-webkit-transform:skewX(45deg);transform:skewX(45deg);}
.finish_effect.type1 .item5 span:before{-webkit-transform:skewX(-55deg);transform:skewX(-55deg);}
.finish_effect.type1 .item6 span:before{-webkit-transform:skewX(65deg);transform:skewX(65deg);}
@-webkit-keyframes finishSwing1{
	0%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
	50%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
	100%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
}
@keyframes finishSwing1{
	0%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
	50%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
	100%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
}
@-webkit-keyframes finishSwing2{
	0%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
	50%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
	100%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
}
@keyframes finishSwing2{
	0%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
	50%{-webkit-transform:rotate(30deg) rotateX(0) translateX(-100%);transform:rotate(30deg) rotateX(0) translateX(-100%);}
	100%{-webkit-transform:rotate(-30deg) rotateX(0) translateX(100%);transform:rotate(-30deg) rotateX(0) translateX(100%);}
}
@-webkit-keyframes finishDrop{
	0%{top:0%;opacity:0;}
	20%,80%{opacity:1;}
	100%{top:100%;opacity:0;}
}
@keyframes finishDrop{
	0%{top:0%;opacity:0;}
	20%,80%{opacity:1;}
	100%{top:100%;opacity:0;}
}

/*공지사항*/
.txt_box_head{padding-bottom:30px;border-bottom:1px solid #ddd;}
.txt_box_head h2{padding-bottom:15px;font-size:1.5rem;color:#111;}
.txt_box_head .date{color:#666;}
.notice_wrap .file_box{padding:30px 0;border-bottom:1px solid #ddd;font-size:1.3rem;}
.notice_wrap .file_box a{display: inline-block;}
.notice_wrap .file_box .btn_download{display:inline-block;width:20px;height:15px;vertical-align:middle;background:url(../images/common/btn_down.png) center center no-repeat;background-size:11px auto;text-indent:-9999px;font-size:1px;color:transparent;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
.txt_box_content h2{padding-top:30px;font-size:1.6rem;}
.txt_box_content h3{padding-top:22px;font-size:1.5rem;font-weight:400;}
.txt_box_content p{padding-top:17px;word-wrap:normal;word-break:break-all;}
.txt_box_content p+.txt_list{padding-top:12px;}
.txt_box_content .txt_list{color:#999;}
.txt_box_content .txt_list .dot:before,
.txt_box_content .txt_list li .dash:before{background:#999;}
.txt_box_content .txt_list li ul{font-size:1.4rem;color:#999;}
.txt_box_content .txt_list li ul li{margin-top:4px;}
.txt_box_content .txt_list li ul li:first-child{margin-top:0;}
.txt_box_content img{margin-top:20px;width:100%;}
.txt_box_content .table{margin-top:24px;}
.txt_box_content .table table th,.txt_box_content .table table td{padding:11px;text-align:center;border-width:0 0 1px 0;}
