@charset "utf-8";
@import url('./component.css');

/*서비스신청*/
.service_info{padding-top:18px;color:#111;text-align:center;font-size:0px;}
.service_info .txt{margin-top:28px;font-size:1.5rem;}
.complete_wrap{padding:18px 0 26px;text-align:center;font-size:0;}
.complete_wrap .tit_h2{margin-top:17px;font-size:2.2rem;}
.complete_wrap .txt{margin-bottom:12px;font-size:1.5rem;}
.caution_txt{display:inline-block;font-size:1.3rem;color:#666;line-height:21px;}
.caution_txt:before{content:'※';display:inline-block;padding-right:3px;color:#666;}

/*로그인*/
.login_box .button{margin-top:10px;width:100%;}
.cont_box.lock_num .cont_txt{font-size:1.7rem;color:#111;font-weight:500;}
.com_result{text-align:center;font-size:0;}
.com_result h2{margin:0 0 45px;font-size:1.8rem;text-align:left;}
.com_result .txt{margin-top:32px;font-size:1.5rem;color:#111;}
.com_result .txt strong{font-size:1.7rem;color:#3182f7;}

/*회원가입*/
.form_item+.accordion_list{margin-top:35px;}
.fm_cont .fm_btn{width:96px;}
.fm_cont .fm_btn .button{width:87px;font-size:1.4rem;font-weight:400;}
