@charset "utf-8";
@import url('./component.css');

/*가이드*/
[class*=gd__h]{color:#999;margin-bottom:1em;font-weight:bold;line-height:1.3;}
[class*=gd__h]:first-child{margin-top:0 !important;}
[class*=gd__h] + [class*=gd__h]{margin-top:1em !important;}
[class*=gd__h]:before{content:'#';}
[class*=gd__h]:after{content:'';display:block;height:0.4em;background:#eee;margin-top:-0.4em;z-index:-1;}
.gd__h0{text-align:center;font-size:3rem;color:#000;}
.gd__h1{font-size:2.4rem;color:#d00;margin-top:4em;}
.gd__h1:after{background-color:rgba(221,0,0,0.1);}
.gd__h2{font-size:2rem;color:#157941;margin-top:3em;}
.gd__h2:after{background-color:rgba(21,121,65,0.1);}
.gd__h3{font-size:1.8rem;color:#111;margin-top:2em;}
.gd__h3:after{background-color:rgba(21,21,21,0.1);}
.gd__h4{margin-top:2em;}
.gd__wrap{overflow:hidden;}
.gd__box{margin:20px auto;display:flex;width:150px;height:150px;background:#eee;align-items:center;justify-content:center;-webkit-transition:background 1s 0.5s;transition:background 1s 0.5s;}
.gd__box.on{background:#d00;color:#fff;}

/*icon_box*/
.ico_box_wrap{padding-top:18px;color:#111;text-align:center;font-size:0px;}
.ico_box_wrap h2{margin-top:33px;font-size:1.7rem;}
.ico_box_wrap .txt{font-size:1.5rem;color:#666;}
.ico_box_wrap .txt.only{margin-top:30px;color:#111;}

/*완료*/
.complete_wrap{padding:18px 0 15px;text-align:center;font-size:0;}
.complete_wrap .tit_h2{margin-top:17px;font-size:2.2rem;}
.complete_wrap .txt{margin-bottom:12px;font-size:1.5rem;}

/*로그인*/
.login_box .button{margin-top:10px;width:100%;}
.cont_box.lock_num .cont_txt{font-size:1.7rem;color:#111;font-weight:500;}
.com_result{text-align:center;font-size:0;}
.com_result h2{margin:0 0 45px;font-size:1.8rem;text-align:left;}
.com_result .txt{margin-top:32px;font-size:1.5rem;color:#111;}
.com_result .txt strong{font-size:1.7rem;color:#3182f7;}
.com_result.small_ico{padding-top:20px;}
.com_result.small_ico .txt{margin-top:25px;}
.caution_txt2{margin:4px 0 13px;}
.cont_box .btn_wrap .flex+.flex{margin-top:10px;}
.login_wrap{position:relative;min-height:calc(100vh - 120px);}
.login_wrap .swipe_tab{position:relative;z-index:2;}
.login_wrap .login_banner{height:27.81vh;}
.login_wrap .login_banner>div{position:absolute;left:0;bottom:0;width:100%;text-align:center;margin-top:0;}
.login_strat_box{padding:18px 20px 11px;}
.login_strat{padding:28px 24px;min-height:230px;border-radius:4px;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.05);text-align:center;}
.login_strat h3{font-size:1.7rem;color:#3182f7;}
.login_strat .start_txt{margin-top:4px;font-size:1.7rem;font-weight:500;}
.login_strat .btn_wrap{margin-top:27px;}
.login_strat .tbl{margin-top:28px;}
.login_banner .swiper-navi{margin-top:0;position:absolute;z-index:2;left:20px;bottom:13px;}

/*회원가입*/
.form_item+.accordion_list{margin-top:35px;}
.fm_cont .fm_btn{width:96px;}
.fm_cont .fm_btn .button{width:87px;font-size:1.4rem;font-weight:400;}

/*본인인증*/
.user_check_wrap .tab_wrap{margin-bottom:0;}
.user_check_wrap .tab_panel{padding:30px 20px 0;min-height:calc(100vh - 154px);}
.user_check_wrap .tab_panel.bg_blue{background:#eaf2fe;}
.user_check_wrap .pwd_wrap{padding-top:45px;}
.user_check_wrap .pwd_wrap .password{margin-top:17px;}
.tbl.card_num .td{width:25%;padding-left:4px;}
.tbl.card_num .td:nth-child(-n+3){width:21.875%;}
.tbl.card_num .td:nth-child(n+3){width:26.25%;}
.tbl.card_num .td:nth-child(1){padding:0 2px 0 0;}
.tbl.card_num .td:nth-child(2){padding-left:2px;}
.tbl.card_num .input input.no_del{padding:0 5px;}
.tbl.card_num .td.gray_box{vertical-align: top;text-align:center;}
.tbl.card_num .td.gray_box div{height:44px;line-height:44px;background:#f0f0f0;border:1px solid #ddd;border-radius:4px;color:#858585;font-size:1.2rem;}

/*신용보호 서비스*/
.first_blue_box{position:relative;margin-top:-30px;background:#eaf2fe;overflow:hidden;}
.first_blue_box .bg{position:absolute;right:21px;bottom:15px;width:99px;height:157px;background:url(../images/contents/first_blue_box_bg_01.png) no-repeat right bottom;background-size:contain;}
.first_blue_box .inner{position:relative;padding:25px 20px;}
.first_blue_box .tit{font-size:1.6rem;color:#111;}
.first_blue_box .tit strong{font-size:1.8rem;}

/*자동납부*/
.contact_tbl{background:#eaf2fe;border-radius:4px;}
.contact_tbl .td{position:relative;padding:10px 0;height:73px;vertical-align:middle;}
.contact_tbl .td+.td:before{content:'';display:block;width:1px;height:38px;position:absolute;left:0;top:50%;margin-top:-19px;background:#ddd;}
.contact_tbl .td strong{color:#3182df;}
.contact_tbl .td div{font-size:1.3rem;}
.address_info{font-size:1.4rem;color:#858585;}
.address_info dl:after{content:'';display:block;clear:both;}
.address_info dl+dl{margin-top:7px;}
.address_info dl dt{float:left;width:57px;border:1px solid #ddd;text-align:center;border-radius:12px;font-weight:500;}
.address_info dl dt+dd{margin-left:70px;}
.address_info.box{background:#f0f0f0;border-radius:4px;padding:19px;border:1px solid #ddd;margin-top:10px;color:#333;}

/*결제서비스*/
.price_box_wrap + .price_box_wrap{margin-top:10px}
.price_box_wrap{padding:20px 24px;background:#f8f8f8;border-radius:4px;}
.price_box_wrap .txt{font-size:1.2rem;color:#666;}
.price_box_wrap .total_num{color:#3182f7;}
.price_box_wrap .total_num strong{font-size:2.4rem;}
.price_box_wrap .flex{margin-top:5px;align-items:center;-webkit-align-items:center;}
.price_box_wrap .sub_num{font-size:1.2rem;color:#666;}
.price_box_wrap .sub_num .num{color:#111;}
.price_box_wrap .sub_num .num strong{font-size:1.4rem;}
.price_box_wrap.ty2 .total_num{font-size:1.2rem;}
.price_box_wrap.ty2 .total_num strong{font-size:1.4rem}
.price_box_wrap.ty2 .flex .sub_num{font-size:1.2rem}
.price_box_wrap.ty2 .flex .sub_num:first-child strong{font-weight:normal}
.price_box_wrap.ty3 .flex{flex-wrap:wrap;-webkit-flex-wrap:wrap;}
.price_box_wrap.ty3 .flex .sub_num{width:100%;}
.price_box_wrap.ty3 .sub_num:after{content:'';display:block;clear:both;}
.price_box_wrap.ty3 .sub_num .num{float:right;}

.fm_cont .select+.input,
.fm_cont .select+.input+.input{margin-top:12px;}
.form_item.ip_none input{border:none;}
.tit_h3+.checkbox_btn_wrap,
.tit_h3+.price_box_wrap,
.tit_h3+.box_list_2{margin-top:20px;}
.use_flt_box{margin-top:18px;}
.use_flt_box .checkbox_btn_wrap{margin-top:14px;}
.detail_pay dt{margin-top:30px;font-size:1.8rem;font-weight:500;color:#111;}
.detail_pay dt:first-child{margin-top:0;}
.detail_pay dt>.sub_tit{font-size:1.4rem;}
.detail_pay dt>.sub_tit strong{font-size:2.4rem;}
.detail_pay dt+dd{margin-top:19px;}
.detail_pay dd:last-child{margin-bottom:30px;}
.detail_pay.ty2 dt{font-size:1.4rem;margin-top:25x;}
.detail_pay.ty2 dd{margin-top:8px;}
.list_box_table{padding:14px 0;border-top:1px solid #bbb;border-bottom:1px solid #ddd;color:#666;}
.list_box_table.ty2{border-bottom:none;}
.list_box_table>li{display:table;width:100%;padding:0 14px;}
.list_box_table>li+li{margin-top:5px;}
.list_box_table>li.line{margin-top:13px;padding-top:14px;border-top:1px dashed #ddd;}
.list_box_table>li.last{color:#111;}
.list_box_table>li .th,
.list_box_table>li .td{display:table-cell;}
.list_box_table>li .th{min-width:80px;}
.list_box_table>li .td{text-align:right;}
.list_box_table.blue{background:#eaf2fe;color:#3182f7;border-color:#b9d5fd;}
.list_box_table+.list_box_table{border-top-width:0;}
.list_box_table.no_line{border:none;padding:0;}
.list_box_table.no_line>li{padding:0;}
.inp_enter_box{position:relative;display:table;width:100%;padding:16px 14px;background:#eaf2fe;border:1px solid #b2d0fc;border-width:1px 0 1px 0;}
.inp_enter_box .th{display:table-cell;width:33%;color:#3182f7;vertical-align:middle;}
.inp_enter_box .td{display:table-cell;width:67%;vertical-align:middle;}
.inp_enter_box input{border-color:#3182f7;}
.inp_enter_box .unit{display:block;position:absolute;right:10px;top:0;color:#111;line-height:44px;font-size:1.4rem;}
.tit_h2+.range_set_wrap{margin-top:20px;}
.range_set_wrap .tit{clear:both;margin-top:12px;font-size:1.3rem;}
.range_set_wrap .tit:first-child{margin-top:0;}
.range_set_wrap>dd{margin-top:8px;}
.input_div+.card_info_box{margin-top:12px;}
.sub_date_txt{font-size:1.3rem;color:#666;}
#chkPanel2{display:none;}

/* 신청정보입력 약관동의 */
.vip_freeservice li{float:left;width:50%}
.vip_freeservice li:nth-child(odd){clear:both;}
.vip_freeservice li .complete_wrap{padding:0 0 24px}
.vip_freeservice li .tit_h2{font-size:1.4rem}
.vip_freeservice li .txt{font-size:1.3rem}
.vip_freeservice:after{content:'';clear:both;display:block;}

/*채움레터, 채움스케치*/
.chaeumletter{margin-top:30px;}
.chaeumletter .ui-swiper-wrap{margin:0;}
.chaeumletter .ui-swiper{position:relative;}
.chaeumletter .ui-swiper .item{background:#f1f1f1;display:flex;align-items:center;}
.chaeumletter .swiper-arr{position:absolute;top:50%;width:30px;height:30px;margin-top:-15px;background-repeat:no-repeat;background-position:center center;background-size:contain;z-index:2;}
.chaeumletter .swiper-prev{left:10px;background-image:url(../images/contents/chaeumletter_arr_L.png);}
.chaeumletter .swiper-next{right:10px;background-image:url(../images/contents/chaeumletter_arr_R.png);}
.chaeumletter .swiper-pagination{display:none;}
.chaeum_top{margin-top:-30px;position:relative;height:171px;background:#3a4895;font-size:1.3rem;color:#fff;overflow:hidden;}
.chaeum_top .bg_1{position:absolute;top:0;right:178px;width:88px;height:49px;background:url(../images/contents/chaeumletter_top_bg1.png) no-repeat center center;background-size:contain;}
.chaeum_top .bg_2{position:absolute;bottom:0;right:0;width:176px;height:165px;background:url(../images/contents/chaeumletter_top_bg2.png) no-repeat center center;background-size:contain;}
.chaeum_top .inner{position:relative;padding:25px 20px 0;}
.chaeum_top .tit{font-size:1.8rem;color:#ffee96;}
.chaeum_top .sub{font-size:1.6rem;margin-bottom:10px;}
.chaeum_top.ty2{background-color:#00a99c;background-image:repeating-linear-gradient(-45deg, #00a99c, #00a99c 4px, #00ada2 4px, #00ada2 6px);}
.chaeum_top.ty2:before{content:'';display:block;width:59px;height:111px;position:absolute;right:0;top:0;background:rgba(0,0,0,0.2);}
.chaeum_top.ty2:after{content:'';display:block;width:5px;height:5px;position:absolute;left:20px;top:8px;background:#fffb7b;border-radius:50px;box-shadow:0 0 5px rgba(0,0,0,0.3);}
.chaeum_top.ty2 .tit{color:#ffe657;}
.chaeum_top.ty2 .bg_1{top:auto;bottom:7px;right:24px;width:109px;height:90px;background:url(../images/contents/chaeumsketch_top_bg1.png) no-repeat center center;background-size:contain;}
.evnt_banner_wrap{position:relative;margin-top:65px;}
.evnt_banner_wrap .btn_link{position:absolute;top:-30px;right:0;}
.evnt_banner .item img{border-radius:4px;box-shadow:0 8px 10px rgba(0,0,0,0.08);}
.evnt_banner.ui-swiper .swiper-pagination{margin-top:23px;}
.sketch_wrap{margin-top:50px;}
.sketch_wrap h4{font-size:1.8rem;line-height:25px;color:#111;}
.sketch_wrap h4>span{color:#3182f7;}
.sketch_ico_list{margin-bottom:50px;}
.sketch_ico_list:after{content:'';display:block;clear:both;}
.sketch_ico_list>li{float:left;width:25%;text-align:center;}
.sketch_ico_list>li:nth-child(4n+1){clear:both;}
.sketch_ico_list>li{margin-top:30px;}
.sketch_ico_list>li>a{display:block;font-size:0;}
.sketch_ico_list>li span{display:block;margin-top:5px;font-size:1.3rem;}
.low_banner{position:relative;display:block;margin:0 -20px;padding:17px 34px;background:#def9ea;}
.low_banner .txt strong{font-weight:700;}
.low_banner .i_bg_banner{position:absolute;right:34px;bottom:0;display:block;width:38px;height:35px;background:#def9ea url(../images/contents/bg_sketch_banner01.png) 0 0 no-repeat;background-size:38px auto;}
.flex.cheum_sketch{margin-top:50px;}
.flex.cheum_sketch .td{width:50%;margin:0 6px;}
.flex.cheum_sketch .td:first-child{margin-left:0;}
.flex.cheum_sketch .td:last-child{margin-right:0;}
.sketch_cate_list>li{margin-top:20px;}
.sketch_cate_list>li+li{margin-top:10px;}
.sketch_cate_list>li>a{display:flex;position:relative;}
.sketch_cate_list .flag{position:absolute;top:0;left:0;padding:1px 5px;background:#3182f7;font-size:1.2rem;color:#fff;font-weight:500;}
.sketch_cate_list img{width:31.25%;}
.sketch_cate_list .sketch_keyword{width:68.75%;padding:15px 0 20px 16px;background:#f8f8f8;}
.sketch_cate_list .sketch_keyword strong{font-size:1.5rem;color:#333;font-weight:500;}
.sketch_cate_list .sketch_keyword ul{margin-top:3px;}
.sketch_cate_list .sketch_keyword ul:after{content:'';display:block;clear:both;}
.sketch_cate_list .sketch_keyword ul>li{position:relative;float:left;padding:1px 9px;font-size:1.2rem;color:#666;}
.sketch_cate_list .sketch_keyword ul>li+li:after{content:'';position:absolute;top:9px;left:0;display:block;width:1px;height:8px;background:#ddd;}
.sketch_cate_list .sketch_keyword ul>li:first-child,
.sketch_cate_list .sketch_keyword ul>li.no_div{padding-left:0;}
.sketch_cate_list .sketch_keyword ul>li.no_div:after{display:none;}
.sketch_circle_list{display:flex;margin-top:30px;}
.sketch_circle_list>li{width:33.33%;text-align:center;}
.sketch_circle_list>li img{width:100%;margin-bottom:14px;padding:0 10px;}
.sketch_circle_list>li span{display:block;font-size:1.2rem;color:#333;}
.sketch_circle_list>li strong{display:block;margin-top:3px;line-height:1.8rem;font-weight:500;color:#111;}
.sketch_wrap+.btn_more{margin-top:57px;}

/* 납부타입 동그라미 */
.type_round ul{display:table;width:100%}
.type_round ul li{display:table-cell;text-align:center}
.type_round ul li .bt_ic_arr{margin-top:65px;margin-left:0}
.type_round ul li .round_txt{display:flex;margin:auto;width:130px;height:130px;border-radius:50%;background:#f0f0f0;color:#bbb;font-size:1.5rem;justify-content:center;align-items:center;}
.type_round ul li .round_txt.bg_blue{background:#3182f7;color:#fff;font-weight:400;}
.type_round ul li .round_txt strong.num{padding:0 4px 0 6px;font-size:1.6rem;}
.type_round ul li .round_txt+p{margin-top:10px}

/* vip */
.ht_vip_club_wrap .ht_vip_club{text-align:center;}
.ht_vip_club_wrap .ht_vip_club img{width:80%;margin-top:20px}
.ht_vip_club_wrap .ht_vip_club span{display:inline-block;padding:4px 20px;margin:15px 0 40px;background-color:#eaf2fe;border-radius:20px;}
.ht_vip_club_wrap .tel{display:block;margin:17px 0 20px;font-size:1.4rem;text-align:right;}


/*** ahj ***/
.vip_intro{color:#666;}
.vip_intro .tit_h2{color:#8e702f;}
.vip_intro .section{padding-top:50px;padding-bottom:30px;background:#f8f8f8;}
.vip_intro_txt{text-align:center;padding:23px;}
.vip_intro_txt .tit_h2{margin-bottom:20px;}
.vip_intro_txt .tit_h2 span{border-bottom:1px solid #8e702f;}
.vip_intro_card{position:relative;height:67.777vw;overflow:hidden;}
.vip_intro_card .card_1{position:absolute;bottom:-7%;left:10.3%;width:53.51vw;height:47.40vw;background:url(../images/contents/vip_intro_card1.png) no-repeat center bottom;background-size:contain;}
.vip_intro_card .card_2{position:absolute;bottom:11.5%;right:18.5%;width:51.48vw;height:55.18vw;background:url(../images/contents/vip_intro_card2.png) no-repeat center bottom;background-size:contain;}
.vip_intro_card .bg{position:absolute;bottom:18%;left:12.5%;width:65.74vw;height:38.88vw;background:url(../images/contents/vip_intro_card_bg.png) no-repeat center center;background-size:contain;}
.gold_line_box{margin:20px 0 15px;padding:14px;border:1px solid #c3b493;border-radius:4px;background:#fff;}

.rule_txt_box{padding:20px;background:#f0f0f0;border-radius:4px;font-size:1.2rem;color:#666;margin-top:15px;}
.rule_txt_box .rule_tit{font-size:1.4rem;color:#333;margin-bottom:5px;font-weight:500;}
.rule_txt_box *+.rule_tit{margin-top:20px;}
.rule_txt_box ol{padding:3px 0 3px 15px;}
.rule_txt_box ol li{list-style-type:decimal;}
.rule_txt_box ol li li{list-style-type:none;text-indent:-15px;}
.rule_txt_box div{padding:5px 0;}
.rule_txt_box li{padding:3px 0;}

.step_flow li{position:relative;}
.step_flow li+li:before{content:'';display:block;position:absolute;left:13px;width:3px;height:50%;top:-25%;background-image:radial-gradient(#d6e6fd 20%, transparent 20%);background-position:center center;background-size:13px 13px;}
.step_flow .td{vertical-align:middle;text-align:center;padding:17px 0;}
.step_flow .td.num{text-align:center;width:30px;color:#3182f7;font-weight:bold;}
.step_flow .td.num span{font-size:0.9rem;}
.step_flow .td.num strong{display:block;font-size:1.4rem;}
.step_flow .td.ico{width:95px;}
.step_flow .td.cont{padding-left:12px;text-align:left;}
.step_flow .td .tit{color:#333;}
.step_flow .td .txt{color:#666;font-size:1.3rem;}
.step_flow .td .tit+.txt{margin-top:3px;}

/*** jeg ***/
.btn_range{display:flex;display:-webkit-flex;}
.btn_range>a{position:relative;display:inline-block;padding:0 10px;font-size:1.3rem;color:#666;}
.btn_range>a.active:after{content:'';display:block;width:100%;height:1px;background:#666;}
.btn_range>a+a{position:relative;padding-right:0;}
.btn_range>a+a:before{content:'';position:absolute;top:50%;margin-top:-4px;left:0;display:block;width:1px;height:9px;background:#ddd;}
.info_txt_list dt{margin-top:22px;font-weight:500;}
.info_txt_list dd{margin-top:13px;color:#666;}
.card_info_box .cancel_area{position:absolute;right:0;top:0;}
.card_info_box .cancel_area.txt{top:initial;bottom:0;}
.gray_form_box{margin-top:12px;padding:17px;background:#f8f8f8;border-radius:4px;}
.gray_form_box .form_item{margin-top:0;}
.gray_form_box .form_item+.form_item{margin-top:10px;}
.pop_head>h1 .pay_sub_tit{display:block;margin-top:8px;font-size:1.4rem;font-weight:400;}
h3.tit_h2+h4.tit_h3{margin-top:16px;}
.vip_visual{margin:-30px -20px 0;padding-top:33px;background:url(../images/contents/bg_vip_visual01.jpg) 0 0 no-repeat;}
.vip_visual>img{width:100%;}
.vip_visual>h3{text-align:center;;font-size:1.8rem;font-weight:500;color:#e4d394;}
.grade_vip_list{margin-top:26px;padding:0 20px 33px;display:flex;display:-webkit-flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;}
.grade_vip_list>li{width:50%;text-align:center;}
.grade_vip_list>li:nth-child(n+3){margin-top:12px;}
.grade_vip_list>li>a{display:inline-block;width:58.542%;color:#fff;}
.grade_vip_list>li img{width:100%;}
.grade_vip_list .vip_ko{display:inline-block;font-size:1.6rem;font-weight:500;border-bottom:1px solid #fff;}
.grade_vip_list .vip_en{display:block;margin-top:5px;font-weight:300;}


/*** ksy ***/
.ht_vip_club_wrap .ht_vip_club_bg{position:relative;height:86.1111vw;margin:-30px -20px 0;}
.ht_vip_club_wrap .ht_vip_club_bg.grade .ht_club{text-align:center;position:absolute;top:0;height:100%;width:100%;}
.ht_vip_club_wrap .ht_vip_club_bg.grade .ht_club h3{margin-top:40px}
.ht_vip_club_wrap .ht_vip_club_bg.grade.lv_nobless .ht_club{background:url('../images/contents/img_grade_nobless.png') center no-repeat;background-size:cover;}
.ht_vip_club_wrap .ht_vip_club_bg.grade.lv_super .ht_club{background:url('../images/contents/img_grade_superroyal.png') center no-repeat;background-size:cover;}
.ht_vip_club_wrap .ht_vip_club_bg.grade.lv_royal .ht_club{background:url('../images/contents/img_grade_royal.png') center no-repeat;background-size:cover;}
.ht_vip_club_wrap .ht_vip_club_bg.grade.lv_prime .ht_club{background:url('../images/contents/img_grade_prime.png') center no-repeat;background-size:cover;}
.ht_vip_club_wrap h4{margin:49px 0 21px;}
.ht_vip_club_wrap .txt_list{font-size:1.4rem}
.ht_vip_club_wrap .txt_list .dot:before{top:1rem}
.ht_vip_club_wrap .txt_list strong{color:#111}
.ht_vip_club_wrap .accordion_list{margin-top:52px;}
.ht_vip_club_wrap .vip_grade{margin-top:13px;padding:0 17px}
.ht_vip_club_wrap .vip_grade ul{display:flex;}
.ht_vip_club_wrap .vip_grade ul li{position:relative;flex:1;padding:5px 10px;margin:0 10px;display:inline-block;}
.ht_vip_club_wrap .vip_grade ul li a{color:#666;font-size:1.3rem}
.ht_vip_club_wrap .vip_grade ul li.active{border-radius:20px;box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);;}
.ht_vip_club_wrap .vip_grade ul li.active a{color:#fff;}
.ht_vip_club_wrap .vip_grade ul li.active:first-child{background: linear-gradient(120deg, rgba(161,117,243,1) 0%, rgba(99,117,243,1) 100%);}
.ht_vip_club_wrap .vip_grade ul li.active:nth-child(2){background: linear-gradient(120deg, rgba(83,205,144,1) 0%, rgba(55,192,144,1) 100%);}
.ht_vip_club_wrap .vip_grade ul li.active:nth-child(3){background: linear-gradient(120deg, rgba(246,178,71,1) 0%, rgba(242,153,39,1) 100%);}
.ht_vip_club_wrap .vip_grade ul li.active:nth-child(4){background: linear-gradient(120deg, rgba(50,177,241,1) 0%, rgba(49,133,247,1) 100%);}
.ht_vip_club_wrap .vip_grade ul li:not(:last-of-type):after{content:'';right:-10px;top:10px;display:inline-block;position:absolute;width:1px;height:12px;background-color:#bbb;}

.panel .txt_list li.last{margin-top:20px;padding-top:20px;border-top:1px dotted #ddd;}
.panel .txt_list li.last strong{position:relative;font-size:1.4rem;padding-left:25px;color:#666}
.panel .txt_list li.last strong:before{content:'';position:absolute;left:0;top:2px;width:17px;height:17px;display:inline-block;background:url('../images/common/ico_tooltip.png') no-repeat;background-size:cover}
.panel .txt_list li.last p{font-size:1.3rem}

.vip_ht li .service_list dl{padding-left:110px;position:relative;}
.vip_ht li .service_list dl dt{position:absolute;left:0;top:0;}
.vip_ht li .service_list dl dd .ico_txt:not(:last-of-type){margin-right:3px}
.vip_ht li .service_list dl dd.txt{margin:11px 0 2px;font-size:1.4rem;color:#858585}
.vip_ht li .service_list dl dd.txt + dd{position:relative;padding-right:20px;}
.vip_ht li .service_list dl dd strong{font-size:1.7rem}
.vip_ht li+li{margin-top:30px}
.vip_ht li .service_list dl dd .pop_btn{position:absolute;top:5px;right:0}

.complete_wrap.ty2 h2{color:#333}
.complete_wrap .notice.line{padding:30px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:50px}
.complete_wrap .notice.line strong{color:#b2a46e;font-size:1.7rem}
.complete_wrap .notice.line p{font-size:1.3rem;margin-top:15px;}

.membership_info{position:relative;padding:10px 0;color:#fff;background-color:#f0f0f0;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.membership_info.lv_prime{background-image:url(../images/contents/membership_info_bg1.png);}
.membership_info.lv_royal{background-image:url(../images/contents/membership_info_bg2.png);}
.membership_info.lv_super{background-image:url(../images/contents/membership_info_bg3.png);}
.membership_info.lv_nobless{background-image:url(../images/contents/membership_info_bg4.png);}
.membership_info:before{content:'';display:grid;}
.membership_info .tbl .td{vertical-align:middle;height:100px;}
.membership_info .tbl .td.ic{width:37%;text-align:center;}
.membership_info .icon{display:inline-block;width:84px;height:84px;margin:8px 0 0 6px;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.membership_info.lv_prime .icon{background-image:url(../images/contents/membership_info_ico1.png);}
.membership_info.lv_royal .icon{background-image:url(../images/contents/membership_info_ico2.png);}
.membership_info.lv_super .icon{background-image:url(../images/contents/membership_info_ico3.png);}
.membership_info.lv_nobless .icon{background-image:url(../images/contents/membership_info_ico4.png);}
.membership_info .ico_txt.line{font-size:1.1rem;padding:5px;height:inherit;line-height:7px;background:none;border:1px solid #fff;border-radius:20px}
.membership_info .tit{font-size:1.7rem;margin:3px 0;}
.membership_info .date{font-size:1.3rem;}

.blueBox_list{background-color:#eaf2fe;border-radius:10px;padding:24px 20px;display:table;width:100%;}
.blueBox_list div{display:table-cell}

.txt_list.ty2.tb.dot-none .dot{padding-left:0;}
.txt_list.ty2.tb.dot-none .dot:before{display:none}
.txt_list.ty2.tb li div{color:#111;text-align:right;}
.txt_list.ty2.tb li div span{color:#666;margin-left:19px;}

.accordion_list .txt_list.ty2 li{display:table;width:100%}
.accordion_list .txt_list.ty2 li + li{margin-top:15px}
.accordion_list .txt_list.ty2 li.end{border-top:1px dotted #ddd;padding-top:20px;}

.card_info_box + .card_info_box{margin-top:12px}

/* 공인인증서 */
.box_list_1.npki ul li{background-color:#fff}
.box_list_1.npki ul li .checkbox{display:none;}
.box_list_1.npki ul li .inner{padding-left:83px;background:url(../images/common/ico_npki_on.png) no-repeat 16px center;background-size:48px auto;}
.box_list_1.npki ul li .inner.disabled{background-image:url(../images/common/ico_npki_off.png);}
.box_list_1.npki .card_info_tbl .tit strong{min-width:165px;max-width:210px;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.box_list_1.npki .card_info_tbl>.img{width:48px;;vertical-align:middle}
.box_list_1.npki .card_info_tbl .sub ul li+li{margin-top:3px;}
.box_list_1.npki .card_info_tbl .sub ul li strong{display:inline-block;width:55px;}
.box_list_1.npki .card_info_tbl .sub .ico_txt{vertical-align:inherit;margin-left:5px;}
.flex2{display:flex;justify-content:center;align-items:center;}

.imp_npki{padding:0 10px;}
.imp_npki .img img{width:100%}
.imp_npki .flex{margin:6px -1px 0;}
.imp_npki .flex div{padding:0 1px;}
.imp_npki .flex input{width:100%;text-align:center;background-color:#eaf2fe;color:#111;border:0 none;font-size:2.0rem;height:44px;line-height:44px;border-radius:4px;}
.imp_npki .btn_wrap{margin:35px -10px 0;}

.npki_notice_wrp{background-color:#f8f8f8;padding:20px;margin-top:45px}
.npki_notice_wrp h3{font-weight:bold}
.npki_notice_wrp .npki_notice{background-color:#fff;padding:0 20px;margin-top:20px}
.npki_notice_wrp .npki_notice dl{padding-left:50px;position:relative;padding-bottom:50px;}
.npki_notice_wrp .npki_notice dl dt{position:absolute;top:2px;left:10px;text-align:center;color:#3182f7 !important;font-size:9px;font-weight:bold;height:100%;overflow:hidden;}
.npki_notice_wrp .npki_notice dl dt strong{display:block;font-size:13px}
.npki_notice_wrp .npki_notice dl dt:after{content:'';display: block;position: absolute;top: 50%;width: 100%;height: 30%;background-size: 13px 13px !important;background-position: center 0 !important;background: url('../images/contents/ico_notice_dot.png') repeat-y;}
.npki_notice_wrp .npki_notice dl:last-child{padding-bottom:0;}
.npki_notice_wrp .npki_notice dl:last-child dt:after{display:none}