@charset "utf-8";
@import url('./component.css');

/*icon_box*/
.ico_box_wrap{padding-top:18px;color:#111;text-align:center;font-size:0px;}
.ico_box_wrap h2{margin-top:33px;font-size:1.7rem;}
.ico_box_wrap .txt{font-size:1.5rem;color:#666;}
.ico_box_wrap .txt.only{margin-top:30px;color:#111;}

/*완료*/
.complete_wrap{padding:18px 0 26px;text-align:center;font-size:0;}
.complete_wrap .tit_h2{margin-top:17px;font-size:2.2rem;}
.complete_wrap .txt{margin-bottom:12px;font-size:1.5rem;}

/*로그인*/
.login_box .button{margin-top:10px;width:100%;}
.cont_box.lock_num .cont_txt{font-size:1.7rem;color:#111;font-weight:500;}
.com_result{text-align:center;font-size:0;}
.com_result h2{margin:0 0 45px;font-size:1.8rem;text-align:left;}
.com_result .txt{margin-top:32px;font-size:1.5rem;color:#111;}
.com_result .txt strong{font-size:1.7rem;color:#3182f7;}
.com_result.small_ico{padding-top:20px;}
.com_result.small_ico .txt{margin-top:25px;}
.caution_txt2{margin:4px 0 13px;}
.cont_box .btn_wrap .flex+.flex{margin-top:10px;}
.login_wrap{position:relative;min-height:calc(100vh - 120px);padding-bottom:27.81vh;}
.login_wrap .swipe_tab{position:relative;z-index:2;}
.login_wrap .login_banner{position:absolute;left:0;bottom:0;width:100%;text-align:center;}
.login_strat_box{padding:18px 20px 11px;}
.login_strat{padding:28px 24px;min-height:230px;border-radius:4px;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.05);text-align:center;}
.login_strat h3{font-size:1.7rem;color:#3182f7;}
.login_strat .start_txt{margin-top:4px;font-size:1.7rem;font-weight:500;}
.login_strat .btn_wrap{margin-top:27px;}
.login_strat .tbl{margin-top:28px;}
.login_banner .swiper-navi{margin-top:0;position:absolute;z-index:2;left:20px;bottom:13px;}

/*회원가입*/
.form_item+.accordion_list{margin-top:35px;}
.fm_cont .fm_btn{width:96px;}
.fm_cont .fm_btn .button{width:87px;font-size:1.4rem;font-weight:400;}

/*본인인증*/
.user_check_wrap .tab_wrap{margin-bottom:0;}
.user_check_wrap .tab_panel{padding:30px 20px 0;min-height:calc(100vh - 154px);}
.user_check_wrap .tab_panel.bg_blue{background:#eaf2fe;}
.user_check_wrap .pwd_wrap{padding-top:45px;}
.user_check_wrap .pwd_wrap .password{margin-top:17px;}
.tbl.card_num .td{width:25%;padding-left:4px;}
.tbl.card_num .td:nth-child(-n+3){width:21.875%;}
.tbl.card_num .td:nth-child(n+3){width:26.25%;}
.tbl.card_num .td:nth-child(1){padding:0 2px 0 0;}
.tbl.card_num .td:nth-child(2){padding-left:2px;}
.tbl.card_num .input input.no_del{padding:0 5px;}
.tbl.card_num .td.gray_box{vertical-align: top;text-align:center;}
.tbl.card_num .td.gray_box div{height:44px;line-height:44px;background:#f0f0f0;border:1px solid #ddd;border-radius:4px;color:#858585;font-size:1.2rem;}

/*신용보호 서비스*/
.first_blue_box{position:relative;margin-top:-30px;background:#eaf2fe;overflow:hidden;}
.first_blue_box .bg{position:absolute;right:21px;bottom:21px;width:96px;height:142px;background:url(../images/contents/first_blue_box_bg_01.png) no-repeat right bottom;background-size:contain;}
.first_blue_box .inner{position:relative;padding:25px 20px;}
.first_blue_box .tit{font-size:1.6rem;color:#111;}
.first_blue_box .tit strong{font-size:1.8rem;}

/*선결제*/
.price_box_wrap{padding:20px 24px;background:#f8f8f8;border-radius:4px;}
.price_box_wrap .txt{font-size:1.2rem;color:#666;}
.price_box_wrap .total_num{color:#3182f7;}
.price_box_wrap .total_num strong{font-size:2.4rem;}
.price_box_wrap .flex{margin-top:5px;}
.price_box_wrap .sub_num{font-size:1.2rem;color:#666;}
.price_box_wrap .sub_num .num{color:#111;}
.price_box_wrap .sub_num .num strong{font-size:1.4rem;}
.form_item.pay_op{margin-top:30px;}
.form_item.pay_op .fm_lb{font-size:1.8rem;font-weight:500;}
.form_item.pay_op .fm_cont{margin-top:17px;}
.form_item.pay_op .select+.input,
.form_item.pay_op .select+.input+.input{margin-top:12px;}
.form_item.pay_op .caution_info{margin:19px 0 5px;}
.tit_h3+.checkbox_btn_wrap,
.tit_h3+.price_box_wrap,
.tit_h3+.box_list_2{margin-top:20px;}