@charset "utf-8";

/*loading*/
#loading,
.loading_dimmed{left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7);color:#fff;}
#loading{position:fixed;z-index:500;}
.loading_dimmed{position:absolute;z-index:5;}
.loading_box{background:#fff;height:300px;border:1px solid #ddd;}
#loading .tl,
.loading_dimmed .tl,
.loading_box .tl{display:table;width:100%;height:100%;}
#loading .tl>div,
.loading_dimmed .tl>div,
.loading_box .tl>div{display:table-cell;vertical-align:middle;text-align:center;}
#loading .txt,
.loading_dimmed .txt,
.loading_box .txt{margin-top:30px;}
.loading_dimmed .btn{color:#fff;height:50px;line-height:48px;font-size:1.7rem;border:1px solid #fff;border-radius:25px;padding:0 18px;}
.ui-slick .loading_box{margin:0 20px;}
.product_list .loading_box{height:200px;border-radius:10px}
.ld_img{position:relative;width:80px;height:53px;margin:0 auto;overflow:hidden;background:url(../images/common/loading_img.png) center 0 no-repeat;-webkit-background-size:80px auto;background-size:80px auto;-webkit-animation:loadingImg 2s steps(23) infinite;animation:loadingImg 2s steps(23) infinite;}
@-webkit-keyframes loadingImg{
	0%{background-position:50% 0}
	100%{background-position:50% -1242px}
}
@keyframes loadingImg{
	0%{background-position:50% 0}
	100%{background-position:50% -1242px}
}

/*toast*/
/* .toast_box{position:fixed;top:50px;left:0;width:100%;z-index:11;overflow:hidden;}
.toast_box>div{font-size:1.3rem;color:#fff;font-weight:500;padding:15px 40px 15px 20px;background:#33363b;} */
.toast_box{position:fixed;bottom:-100%;left:20px;right:20px;z-index:120;overflow:hidden;opacity:0;transform:translateY(-10px);-webkit-transition:bottom 0s 0.5s, opacity 0.5s, transform 0.5s;transition:bottom 0s  0.5s, opacity 0.5s, transform 0.5s;}
.toast_box.on{bottom:70px;opacity:1;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition-delay:0s;transition-delay:0s;}
.toast_box>div{font-size:1.3rem;color:#fff;font-weight:500;padding:15px 40px 15px 20px;background:#33363b;border-radius:10px;}

/*popup*/
.popup{position:fixed;left:-300%;top:0;width:100%;height:100%;opacity:0;z-index:200;box-sizing:border-box;-webkit-transition:left 0s 0.6s, opacity 0s 0.6s, background 0.45s 0.15s;transition:left 0s 0.6s, opacity 0s 0.6s, background 0.45s 0.15s;}
.msie .popup{display:none;}
.popup.show{left:0;opacity:1;background:rgba(0,0,0,.7);-webkit-transition-delay:0s;transition-delay:0s;}
.msie .popup.show{display:block;}
.pop_wrap{position:relative;}
.popup .pop_wrap{width:100%;background-color:#fff;-webkit-transform:translateY(120%);transform:translateY(120%);-webkit-transition:all 0.45s;transition:all 0.45s;overflow:hidden;}
.popup.show .pop_wrap{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition-delay:0.15s;transition-delay:0.15s;}
.pop_head{position:fixed;top:0;left:0;right:0;height:50px;background:#fff;z-index:10;-webkit-transition:box-shadow 0.5s;transition:box-shadow 0.5s;}
.popup .pop_head{position:absolute;}
.pop_head.no_head{height:0;}
.pop_head.no_head h1{padding:0;height:0;overflow:hidden;}
.pop_head.shadow{box-shadow:0 0 5px rgba(0,0,0,0.1);}
.pop_head h1{padding:14px 55px 14px 20px;font-size:1.8rem;line-height:21px;margin:0;color:#111;font-weight:500;}
.pop_head h1.logo{height:50px;background:url(../images/common/header_logo.png) no-repeat center center;background-size:auto 27px;vertical-align:middle;font-size:3px;color:transparent;}
.pop_head h1.offscreen{padding:0;}
.pop_head.t2 h1{background:#efefef;}
.pop_head .pop_close,
.pop_close.last_focus{display:block;position:absolute;top:9px;right:15px;width:30px;height:30px;background:url(../images/common/pop_close.png) 50% 50% no-repeat;background-size:20px auto;border-radius:100%}
.pop_close.last_focus{background:none !important;opacity:0;}
.pop_cont{padding:30px 0;overflow:auto;box-sizing:border-box;-webkit-overflow-scrolling:touch;}
.pop_head+.pop_cont{padding-top:80px;}
.pop_head.no_head+.pop_cont{padding-top:30px;}
.pop_tit{font-size:1.8rem;color:#111;font-weight:500;margin:10px 0;}
.pop_tit_wrap{text-align:center;padding-top:15px;margin-bottom:20px;}
.pop_tit_wrap [class*=i_ico_]+.pop_tit{margin-top:20px;}
.pop_cont:after{content:'';display:block;clear:both;}
.pop_cont.after_btn:after{height:48px;}
.pop_cont .btn_wrap.bottom_fixed{height:48px;}
html.iPhoneX.isApp .popup:not(.modal) .pop_cont.after_btn:after{height:65px;}
.pop_cont.no_touch_scl{-webkit-overflow-scrolling:none;overflow:hidden;padding-bottom:0;}
.pop_cont .in_touch_scl{height:calc(100vh - 180px);-webkit-overflow-scrolling:touch;overflow:auto;padding-bottom:100px;}
html.iPhoneX.isApp .popup:not(.modal) .pop_cont .in_touch_scl{height:calc(100vh - 150px);padding-bottom:80px;}
.popup.full .pop_wrap{height:100%;}
.popup.full .pop_wrap .pop_cont{height:100%;}
.popup.full .pop_head h1,
.pop_wrap.win .pop_head h1{border-bottom:1px solid #ddd;}
.popup.full.ui-pop-select .pop_cont{padding-bottom:0;}
.popup.bottom{/*padding-top:50vh;*/padding-top:100px;}
.popup.bottom .pop_wrap{position:fixed;left:0;bottom:0;border-radius:10px 10px 0 0;/*max-height:calc(50vh);*/}
.popup.bottom .pop_head .pop_close,
.popup.bottom .pop_close.last_focus{right:17px;}
.popup.bottom .pop_head .pop_close{background-image:url(../images/common/pop_close_bottom.png);background-size:24px auto;}
.popup.bottom .pop_cont{padding:50px 0 0;}
.popup.modal{padding:20px;}
.popup.modal .pop_wrap{width:100%;max-width:1200px;margin:30px auto 0;top:50%;opacity:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.popup.modal.show .pop_wrap{opacity:1;margin-top:0;}
.popup.modal .pop_head{padding-top:15px;}
.popup.modal .pop_head h1{padding-left:24px;}
.popup.modal .pop_head .pop_close, 
.popup.modal .pop_close.last_focus{top:24px;}
.popup.modal .pop_cont .section{padding:0 24px;}
.popup.modal .btn_wrap.bottom_fixed>div{position:absolute;}

.popup.alert .pop_wrap{width:280px;}
.popup.alert .pop_head{position:relative;}
/* .popup.alert .pop_head{position:relative;border-bottom:1px solid #ddd;text-align:center;}
.popup.alert .pop_head h1{padding-right:20px;} */
.popup.alert .pop_cont{padding:20px 0;}
.popup.alert .message{display:table;width:100%;}
.popup.alert .message>div{display:table-cell;height:65px;text-align:center;vertical-align:middle;word-break:break-all;}
.popup.alert .form_item .input .dv{overflow:hidden;}

.layer_select_wrap{position:relative;z-index:101;}
.layer_select{display:none;position:absolute;top:0;left:0;width:100%;max-height:187px;background:#fff;border:1px solid #ddd;border-radius:8px;box-shadow:0 3px 5px rgba(0,0,0,0.07);overflow-x:hidden;overflow-y:auto;}
.layer_select ul{padding:11px 14px;}
.layer_select .option{display:block;padding:9px 11px;color:#252525;font-size:1.5rem;border-radius:5px;}
.layer_select .option:active{background:#f1f1f1;}
.layer_select_open.on{background-color:#f1f1f1;}


/*select_item*/
.select_item{position:relative;}
.select_item>a{display:block;padding:5px 10px;min-height:50px;line-height:40px;text-align:center;word-break:break-all;border:1px solid #ddd;border-radius:4px;}
.select_item>a>span{display:inline-block;line-height:1.2;}
.select_item>a .tit{display:block;font-size:1.6rem;color:#111;}
.select_item>a .sub{font-size:1.3rem;color:#858585;margin-top:7px;}
.select_item>a .sub span{position:relative;display:inline-block;padding:0 10px;}
.select_item>a .sub span+span:before{content:'';display:block;position:absolute;left:0;top:10%;width:1px;height:80%;background:#ddd;}
.select_item.selected>a{color:#fff;background:#3182f7;border-color:#3182f7;}
.select_item.selected>a .tit,
.select_item.selected>a .sub{color:#fff;}
/*.select_item_wrap{margin:-20px 0;}*/
.select_item_wrap{padding:17px;}
.select_item_wrap>li{display:inline-block;vertical-align:top;width:100%;padding:3px;}
.select_item_wrap.col2>li{width:50%;}
.select_item_wrap.col3>li{width:33.33%;}
.tab_panel>.select_item_wrap{margin-top:0;}
.select_item_wrap.card .select_item>a{padding:15px 10px;line-height:1.5;}
.select_item_wrap.bank>li{width:50%;}
.select_item_wrap.bank .select_item>a{position:relative;padding-left:44px;min-height:52px;line-height:40px;text-align:left;}
.select_item_wrap.bank .select_item>a span{display:flex;height:40px;align-items:center;}
.select_item_wrap.bank [class*=bk_]{position:absolute;left:10px;top:50%;display:block;width:24px;height:24px;margin-top:-12px;background:url(../images/common/spr_bank_ico.png) no-repeat 0 0;background-size:100% auto;}
/*은행*/
.select_item_wrap.bank .bk_011,
.select_item_wrap.bank .bk_012,
.select_item_wrap.bank .bk_247{background-position:0 -24px;}
.select_item_wrap.bank .bk_039,
.select_item_wrap.bank .bk_032{background-position:0 -48px;}
.select_item_wrap.bank .bk_034,
.select_item_wrap.bank .bk_037{background-position:0 -72px;}
.select_item_wrap.bank .bk_004,
.select_item_wrap.bank .bk_218{background-position:0 -96px;}
.select_item_wrap.bank .bk_003{background-position:0 -120px;}
.select_item_wrap.bank .bk_031,
.select_item_wrap.bank .bk_262{background-position:0 -144px;}
.select_item_wrap.bank .bk_055{background-position:0 -168px;}
.select_item_wrap.bank .bk_{background-position:0 -192px;}/*미즈호코퍼레이트은행*/
.select_item_wrap.bank .bk_{background-position:0 -216px;}/*산림조합*/
.select_item_wrap.bank .bk_002{background-position:0 -240px;}
.select_item_wrap.bank .bk_050{background-position:0 -264px;}
.select_item_wrap.bank .bk_045{background-position:0 -288px;}
.select_item_wrap.bank .bk_007{background-position:0 -312px;}
.select_item_wrap.bank .bk_088,
.select_item_wrap.bank .bk_035,
.select_item_wrap.bank .bk_278{background-position:0 -336px;}
.select_item_wrap.bank .bk_048{background-position:0 -360px;}
.select_item_wrap.bank .bk_020{background-position:0 -384px;}
.select_item_wrap.bank .bk_{background-position:0 -408px;}/*제이피모간체이스은행*/
.select_item_wrap.bank .bk_071{background-position:0 -432px;}
.select_item_wrap.bank .bk_081,
.select_item_wrap.bank .bk_270{background-position:0 -456px;}
.select_item_wrap.bank .bk_027{background-position:0 -480px;}
.select_item_wrap.bank .bk_{background-position:0 -504px;}/*보아은행*/
.select_item_wrap.bank .bk_{background-position:0 -528px;}/*HSBC은행*/
.select_item_wrap.bank .bk_023{background-position:0 -552px;}
.select_item_wrap.bank .bk_089{background-position:0 -576px;}
.select_item_wrap.bank .bk_090{background-position:0 -600px;}
/*증권*/
.select_item_wrap.bank .bk_261{background-position:0 -624px;}
.select_item_wrap.bank .bk_267{background-position:0 -648px;}
.select_item_wrap.bank .bk_279{background-position:0 -672px;}
.select_item_wrap.bank .bk_287{background-position:0 -696px;}
.select_item_wrap.bank .bk_238{background-position:0 -720px;}
.select_item_wrap.bank .bk_290{background-position:0 -744px;}
.select_item_wrap.bank .bk_240{background-position:0 -768px;}
.select_item_wrap.bank .bk_{background-position:0 -792px;}/*솔로몬투자증권*/
.select_item_wrap.bank .bk_291{background-position:0 -816px;}
.select_item_wrap.bank .bk_209{background-position:0 -840px;}
.select_item_wrap.bank .bk_280{background-position:0 -864px;}
.select_item_wrap.bank .bk_265{background-position:0 -888px;}
.select_item_wrap.bank .bk_264{background-position:0 -912px;}
.select_item_wrap.bank .bk_243{background-position:0 -936px;}
.select_item_wrap.bank .bk_269{background-position:0 -960px;}
.select_item_wrap.bank .bk_{background-position:0 -984px;}/*현대증권*/
.select_item_wrap.bank .bk_263{background-position:0 -1008px;}
.select_item_wrap.bank .bk_292{background-position:0 -1030px;}
.select_item_wrap.bank .bk_266{background-position:0 -1054px;}
